*
    padding: 0px
    margin: 0px
body
	background: #DCDBDB
	min-width: 768px
	max-width: 3000px
	margin: 1%
   	header
		text-align: center
	header, div, footer
		background: #8C8B8B
		border-radius: 10px
		margin: 5px
		overflow: hidden
		padding: 5px
	.main 
		width: 100% 